extends layout
block content
	article
		h2 Contact
		hr
		p #{owner}
		p Telefon:  
			a(href='callto:#{phone}') #{phone}
		p E-mail: 
			| <script type='text/javascript'>function askdqh3(){var win=window.open('/txt-dqh3.htm','askwindqh3',',height=280,width=280,resizable=yes');if(!win.opener)win.opener=self}document.write('<a href="javascript:void(0)" onclick="askdqh3()"><img src="/mail.png" alt="Mail address"/><\/a>');</script><noscript><a href='http://w2.syronex.com/jmr/safemailto/#noscript'>URBANCAD (with anti-spam)</a></noscript>
		br
		br
		p #{firm.name}
		p Cod Unic de Identificare: #{firm.CUI}
		p Adresa: #{firm.address}
		p Cod Postal: #{firm.postalcode}
	br
	br
	br
	div#map-canvas
